.headerContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 10px;
}

.icon {
  height: 20vh;
  width: auto;
}

.title {
  height: 10vh;
  width: auto;
}
