.ant-input, .ant-btn {
  height: 2rem;
}

.ant-btn {
  background-color: black;
  color: white;
}

#searchButton {
  margin: 16px 0 8px 0;
  padding: 16.5px 14px;
}

.searchContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
  
}